{% schema %}
  {
    "name": "Product Card",
    "settings": [],
      "presets": [
    {
      "name": "Product Card"
     
    
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}


<div class="product-details">
			<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
								<h3>ZOOM</h3>
							</div>
							

			</div>
						
</div>
	



{% javascript %}
{% endjavascript %}